@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  
body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#202b46;
    color:white ;
}

.Header
{
    background-color: #1A2238 ;
    color: #FF6A3D;
    text-align: center;
    font-size:x-large;
    display: flex;
}

.Header h1
{
    text-align: left;
    padding-left: 10px;
    width: 50%;
    font-size: xx-large;
}

.Header p
{
    text-align: right;
    width: 50%;
    font-size: large;
    padding-right: 30px;
    padding-top: 20px;  
}

.Main
{
    display: flex;
}

.footer
{
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}

.footer p
{
    color: #ccc;
}

.Lists
{
    margin: 20px 10px 20px 10px;
    padding-bottom: 2rem;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    background-color:#1A2238 ;
}
.Lists h1
{
    color: #9DAAF2;
    font-size:larger;
}
.Tasks
{
    width: 50%;
    margin: 20px 10px 20px 10px;
    padding-bottom: 2rem;
    border-radius: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    background-color: #1A2238;
}
.Tasks h1
{
    
    color: #F4DB78;
    font-size: larger;
}

.InsideTasks
{
    display: flex;
    color: #9DAAF2;
    margin-left: 10%;
    margin-top: 0%;
}

.InsideTasks p
{
    /* text-align: right; */
    margin-left: 10%;
    font-size:large;
}

.new {
    background: transparent;
    border: 0;
    color: #9DAAF2;
    border-bottom: 2px solid  #9DAAF2;
    font-size: inherit;
    outline: none;
    padding: 0;
    transition: border-bottom 150ms ease-in;
    order: 2;
    text-align: center;
}
.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: #9DAAF2;
  }
  
.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}
  
  .btn.create:hover {
    opacity: 0.7;
  }  

  .newi {
    background: transparent;
    border: 0;
    color:#F4DB78;
    border-bottom: 2px solid  #F4DB78;
    font-size: inherit;
    outline: none;
    padding: 0;
    transition: border-bottom 150ms ease-in;
    order: 2;
    text-align: center;
}
.btni {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color:#F4DB78;
  }
  
.btni.createi {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}
  
  .btni.createi:hover {
    opacity: 0.7;
  }  

.btn2 
{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color:#dce1ef;
}  
.btn2.create2 
{
    font-size: medium;
    font-weight: 900;
    margin-right: 20%;
    transition: opacity 250ms ease-in;
    height: 3.5rem;
}  
.btn2.create2:hover 
{
    opacity: 0.7;
}  

.Intro
{
    display: flex;
    text-align: center;
    align-content: center;
}
.Intro p
{
    color: #F4DB78; 
    margin-left: 20%;  
    margin-top: 2%;
    margin-bottom: 2%;
}

.Intro h5
{
    margin-left: 2%;
    color:#FF6A3D;
    font-size: large;
    margin-top: 2%;
    margin-bottom: 2%;
}